@font-face {
  font-family: 'SFU futura';
  font-style: normal;
  font-weight: 400;
  src: url('~/assets/font/SFUFuturaRegular.TTF') format('woff2');
}

@font-face {
  font-family: 'SFU futura bold';
  font-style: normal;
  font-weight: 400;
  src: url('~/assets/font/SFUFuturaBold.TTF') format('woff2');
}

@font-face {
  font-family: 'SVN product regular';
  font-style: normal;
  font-weight: 400;
  src: url('~/assets/font/Product Sans Regular.otf') format('woff2');
}